*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik' , sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    overflow-x: hidden;
}

:root{
    --btn-bg: #121e38;
    --1st-main-bg: #0e2e47;
    --2nd-main-bg: #1E5F74;
    --text-color: #fffcf9;
    --bg-color: #030c20;
    --about-p: #b9f3fc;
}

body{
    background: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.949999999999999'%3E%3Cpath transform='translate(-6.3 -3.6) rotate(-3.6 1409 581) scale(0.973)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.6500000000000001' transform='translate(-22.5 9) rotate(-1.8 800 450) scale(0.996)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-6.3 13.5) rotate(-22.5 401 736) scale(0.996)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.5'%3E%3Cpath transform='translate(54 5.4) rotate(-1.35 150 345) scale(1.009)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.3000000000000003' transform='translate(13.5 -27) rotate(-32.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-3.6 -3.6) rotate(-5.4 1400 132) scale(0.955)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

main{
    overflow-y: hidden;
}

header{
    position: sticky;            
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;
}

/* Nav Bar Logo */
.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

span{
    color: var(--2nd-main-bg);
}

/* PAPER INFO HEADING */
.paper-info{
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    color: var(--about-p);
}

.paper-info h1{
font-size: 2rem;
font-weight: 600;
letter-spacing: 3px;
}

.paper-info h1 i{
    font-size: 2rem;
}

.paper-info h2{
line-height: 3rem;
font-size: 1.5rem;
font-weight: 500;
letter-spacing: 2px;
}


.questions-list{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

table tr{
    height: auto;
    background: var(--btn-bg);
}

table tr td{
    color: var(--text-color);
}
table td{
padding: 1rem;
}



.questions-list a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.ques{
    width: 750px;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.ques a{
    line-height: 1.5rem;
    font-weight: 500;
    cursor: text;
}

.code-btn{
    width: 200px;
    text-align: center;
}
.code-btn a:hover{
    background-image: linear-gradient(90deg, #40fecb 0%, #095aab 100%); 
    color: var(--bg-color);
    padding: .5rem;
    border-radius: 5px;
    transition: .2s;
}

iframe{
    width: 100%;
    height: 100%;
}


/* FOOTER */

.footer-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--btn-bg);
    height: auto;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--2nd-main-bg);
}

.links{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.links h3{
    color: var(--text-color);
}

.important-links, .support-us{
    width: 100%;
}

.important-links h3, .support-us h3{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.important-links a{
    color: var(--about-p);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.important-links a:hover{
    text-decoration: underline; 
    transition: .5s;
}
.important-links a li i{
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}


.support-us p{
    color: var(--about-p);
    font-size: 1rem;
    text-align: justify;
}

.discord-api{
    width: 45%;
    display: flex;
    justify-content: right;
}


.links, .discord-api{
    margin: 2rem;
}






/* COPYRIGHT SECTION */

.copyright{
    height: 180px;
    padding: 5rem;
    overflow-y: hidden;
  }
  
  .copyright p{
    color: var(--about-p);
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 500;
    line-height: 2rem;
  }
  
  .copyright a{
    color: var(--about-p);
  }
  
  .copyright a:hover{
      padding: 2px;
    background-image: linear-gradient(90deg, #40fecb 0%, #095aab 100%); 
    border-radius: 4px;
    transition: .4s;
    color: var(--bg-color);
  }

























  /*----------------------------------------------------------------ALL MEDIA QUERIES----------------------------------------------------------------------- */


/* ---------------------------------------------------SMALL LAPTOP VIEW RESPONSIVENESS------------------------------------------------------------- */
  @media (max-width: 1081px){
    .questions-list{
        padding: 1.5rem;
    }
    .questions-list a{
        font-weight: 500;
    }

  }



/* ----------------------------------------------------TABLET VIEW RESPONSIVENESS------------------------------------------------------------------ */

  @media (max-width: 960px){
    .questions-list{
        padding: 1.2rem;
    }
    .questions-list a{
        font-weight: 500;
    }
    .code-btn a:hover{
        /* text-decoration: underline; */
        background-image: var(--1st-main-bg); 
        color: var(--about-p);
        padding: 0;
        border-radius: none;
        transition: .3s;
    }


    .footer-container{
        flex-direction: column;
        height: auto;
        padding-right: 2rem;
    }

    .links, .discord-api{
            width: 100%;
            padding-right: 4rem;
    }

    .links h3, .support-us h3{
        text-align: center;
    }

    .support-us p{
        text-align: justify;
        font-size: 1.5rem;
    }

    .important-links a{
        font-size: 1.5rem;
    }

    .discord-api{
        height: 480px;
    }

    .copyright{
        padding: 3rem;
      }

 }

  @media (max-width: 770px){
    .questions-list{
        padding: .8rem;
    }

    .code-btn{
        display: none;
    }

    .ques a{
        cursor: pointer;
        line-height: normal;
    }
    .ques a:hover{
       text-decoration: underline;
       color: var(--about-p);
       transition: .3s;
    }

    .support-us p{
        font-size: 1.3rem;
    }
  }


  @media (max-width: 600px) {

    .paper-info h1{
            font-size: 1.5rem;
    }
    .paper-info h1 i{
        font-size: 1.5rem;
}
    .paper-info h2{
        font-size: 1.2rem;
    }

    .questions-list a{
        font-size: 1rem;
        font-weight: 500;
        line-height: .8rem;
    }
    
     .ques a{
         font-size: .8rem;
         line-height: 1.3rem;
     }

    .support-us p{
        font-size: 1.1rem;
    }
    .footer-container{
        padding-right: 1rem;
        overflow: hidden;
    }

    .links, .discord-api{
        width: 100%;
        padding-right: 5rem;
}

.support-us, .important-links{
    padding: 0;
}

    .support-us p{
        text-align: justify;
        font-size: 1.2rem;
    }

    .important-links a{
        font-size: 1.1rem;
    }

    .copyright{
        padding: 2rem;
      }
    
      .copyright p{
          font-size: .8rem;
          letter-spacing: 1.5px;
          word-spacing: normal;
      }
  }





/* ----------------------------------------------------MOBILE VIEW RESPONSIVENESS------------------------------------------------------------------ */

  @media (max-width: 480px){
      main{
          padding: 0;
      }
.paper-info h1{
    font-size: 1.4rem;
}
.paper-info h1 i{
    font-size: 1.4rem;
}
.paper-info h2{
    font-size: .8rem;
}

    .questions-list{
        padding: 0;
        width: 100%;
    }
    .questions-list a{
        font-size: .8rem;
        font-weight: 500;
        line-height: 1rem;
    }
    table{
        margin: 0;
        padding: 0;
    }
    table tr{
        margin-right: 0;
    }
    .q_no, .ques{
        margin: 0;
    }
    .q_no{
        font-size: 1rem;
    }
    .ques{
        padding: .8rem;
        line-height: 1rem;
    }
   

    .footer-container{
        padding: 0;
    }
    .links, .discord-api{
        padding-right: 3.8rem;
    }

    .links h3, .support-us h3{
        font-size: 1.7rem;
    }
    .support-us p{
        font-size: .8rem;
    }
    
    .important-links a li{
        font-size: .9rem;
        line-height: 1.3rem;
    }
    .important-links a li i{
        font-size: 1.2rem;
    }

    .copyright{
        padding: 0;
        padding-top: 2rem;
    }
    .copyright p{
        line-height: 1rem;
        font-size: .7rem;
    }
   
  }


  @media (max-width: 350px){
        .paper-info h1{
            letter-spacing: 1px;
            font-size: 1.2rem;
        }
        .paper-info h1 i{
            font-size: 1.2rem;
        }
        .paper-info h2{
            letter-spacing: 1px;
            font-size: .8rem;
        }

        .q_no{
            display: none;
        }
        .ques{
            padding-top: 1rem;

        }
        .ques a{
            text-align: justify;
        }

        .links h3, .support-us h3{
            font-size: 1.4rem;
        }
        .important-links{
            padding: 0;
        }
        .important-links a li{
            font-size: .8rem;
            line-height: 1rem;
        }
        .important-links a li i{
            font-size: 1rem;
        }
    

        .copyright{
            padding: 0;
            padding-top: 2rem;
        }
        .copyright p{
            line-height: 1rem;
            font-size: .6rem;
        }
  }