*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Square Peg', cursive; */
    font-family: 'Merriweather', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    
}

:root{
    --btn-text: #010712;
    --1st-main-bg: #06291b;
    --2nd-main-bg: #01bfaf;
    --text-color: #eefcf9;
    --bg-color: #011012;
    --about-p: #8FD6E1;
    --button-color: #36afff;
    --heading-size: 2rem;
    --sub-heading-size: 1rem;
}

body{
   background-color: var(--bg-color);
   overflow-x: hidden;
}

section{
    overflow-x: hidden;
}
header{
    background-color: var(--bg-color);
    position: sticky;            
    width: 100%;
    height: 5rem;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 8%;
    transition: .3s;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
span {
    color: rgb(252, 57, 57);
}

.logo img{
    width: 60px;
    height: 60px;
}
.logo h2{
    font-size: 2rem;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: .9rem;
    padding: 10px 12px;
    font-weight: 500;
    letter-spacing: 1px;
   border-radius: 2px;
}
.navbar a:hover{
    /* background: var(--text-color); */
    background-image: linear-gradient(90deg, var(--2nd-main-bg) 0%, #095aab 100%); 
    font-weight: 700;
    color: var(--bg-color);
    border-radius: 5px;
    transition: .2s;
}

#menu-icon{
    font-size: 35px;
    z-index: 10001;
    width: min-content;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}


/* HOME SECTION */
.container{
    max-width: 1170px;
    /* max-width: 100%; */
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    
}

.home{
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 15px; */
    padding-left: 1rem;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.823);
    z-index: 1;
}


.home .home-text{
    text-align: left;
    position: relative;
    width: 100%;
    /* padding: 2rem; */
    margin-right: 3rem;
    z-index: 2;
}

.home-p {
    color: var(--about-p);
    font-family: 'Rubik', sarif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.8rem;
}

.home .home-text h1{
   color: var(--text-color);
   font-size: 4.5rem;
   line-height: 1rem;
   margin-bottom: 2rem;
   font-weight: 700;
   letter-spacing: 2px;
   /* margin:0 0 30px; */
}
.home .home-text h2{
   color: var(--text-color);
   font-size: 1.8rem;
   margin-top: 3rem;
   letter-spacing: 2px;
   margin-bottom: 3rem;
   line-height: 1.5rem;
   font-weight: 500;
   word-spacing: 5px;
}
.home .home-text h3{
    color:var(--text-color);
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
 }

.home .home-text p{
   margin:0;
   overflow: hidden;
}
.home .home-text p span{
   font-size: 1.5rem;
   color:#36afff;
   word-spacing: 2px;
   font-weight: 600;
   display: inline-block;
   line-height: 55px;
   display: none;
   margin-bottom: 3rem;
}

.home .home-text p span.text-in{
   display: block;
   animation: textIn .6s ease;
}
.home .home-text p span.text-out{
   animation: textOut .6s ease;
}
@keyframes textIn{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%);
   }
}
@keyframes textOut{
   0%{
       transform: translateY(0%);
   }
   100%{
       transform: translateY(-100%);

   }
}


.home-buttons{
    padding-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

.button{
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--2nd-main-bg);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}
#btn1{
    background-color: var(--2nd-main-bg);
    color: var(--btn-text);
    font-size: 1rem;
}

#btn2{
    color: var(--2nd-main-bg);
    font-size: 1rem;
}

.button:hover{
    animation: pulsate 2s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 10px var(--2nd-main-bg), 0 0 20px var(--2nd-main-bg);
    }
}

.home-image {
    z-index: 2;
}

.home-image img{
    width: 600px;
    height: 500px;
    transform: translateY(-50px);
}






/* PRACTICALS SECTIONS */
.practicals {
    height: auto;
    padding: 5rem 8%;
}

.heading {
    text-align: center;
    color: var(--text-color);
}
.heading h2{
    font-weight: 500;
    font-size: var(--heading-size);
    letter-spacing: 1px;
}

.heading h3{
    font-weight: 300;
    font-size: var(--sub-heading-size);
    letter-spacing: 1px;
    color: var(--about-p);
}


/* Cards */
.cards-container{
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-top: 3rem;
    width: 16rem;
    height: 18rem;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 5px 10px 20px black;
}
.translucent-layer {
    width: 100%;
    height: 100%;
    background: #01101286;
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
}

.translucent-layer h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.translucent-layer h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
    line-height: 3rem;
}

.name {
    margin-top: 1rem;
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    font-size: 1rem;
    height: 2rem;
}

.solution {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.solution a i {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-left: 1rem;
}

.card-btn{
    padding: 10px 15px;
    font-family: 'Rubik',serif;
    font-weight: 300;
    font-size: 1rem;
    border-color: var(--2nd-main-bg);
}

.solution a i:hover{
    color: #00ffea;
    transition: .3s;
}


/* CS-BOOKS SECTIONS */
.books{
    /* background-color: var(--1st-main-bg); */
    background-image: url(../images/bg.jpg);
    height: 100vh;
}
.translucent {
    width: 100%;
    height: 100%;
    background-color: #011012c6;
}

.meta-info {
    display: flex;
}
.images{
    margin-left: 5%;
    padding-top: 3rem;
    width: 28rem;
    height: 28rem;
}
.images img{
    width: 28rem;
    height: 28rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px black;
    transform: rotate(-6deg);
}

.descriptions{
    padding-left: 12%;
    color: var(--text-color);
}
.descriptions h2{
    margin-top: 5rem;
    font-weight: 300;
}

.descriptions p {
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: var(--about-p);
}




/* PREVIOUS YEARS QUESTION PAPERS */
.questions{
    height: 100vh;
}

.ques-descriptions{
    padding: 3rem 5%;
    color: var(--text-color);
}
.ques-descriptions h2{
    margin-top: 2rem;
    font-weight: 300;
}
.ques-descriptions p {
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 1.5em;
    margin-bottom: 3rem;
    color: var(--about-p);
}
#ques-img{
    transform: rotate(12deg);
}


/* ABOUT SECTION */
.about .translucent{
    background-color: #011012db;
}
.about-info{
    display: flex;
    /* background-size: cover; */
}

.left{
    width: 50%;
}
.right{
    width: 50%;
}
.right img{
    width: 15rem;
    height: 3.5rem;
    margin-top: 1rem;
}





/* CONTACTS SECTION */
.contacts-info{
    display: flex;
    margin: 2rem;
    width: 100%;
}

.discord-api{
    padding: 1.2rem; 
}
.discord-api h2, .imp-links h2{
    margin-top: 2.5rem;
    font-weight: 300;
    color: var(--text-color);
}

.discord-api iframe{
    margin-top: 2.5rem;
    width: 80%;
    height: 30rem;
}

.imp-links{
    padding: 1.2rem;
}
.imp-links ul {
    margin-top: 1.2rem;
}
.imp-links ul a {
    font-weight: 300;
    color: var(--about-p);
    font-size: 1rem;
}
.imp-links i{
    margin-top: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
}

#contributors i{
    font-size: 1.3rem;
    margin-right: 1rem;
}




/* DEVELOPER INFO */
.dev-info{
    margin-top: 8rem;
    margin-top: 2rem;
}

.dev-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dev-img img {
    aspect-ratio: 1/1;
    width: 130px;
    height: 130px;
    border-radius: 10rem;
}

.about-dev{
    margin-top: 1.2rem;
    width: 100%;
    text-align: center;
    font-family: monospace;
}

.about-dev h2 {
    color: var(--text-color);
    letter-spacing: 3px;
}
.about-dev h3 {
    /* color: var(--about-p); */
    color: #19e493;
    font-weight: 400;
    font-size: var(--sub-heading-size);
    letter-spacing: 2px;
    line-height: 2rem;
}
.about-dev h4 {
    color: #157650;
    letter-spacing: 1px;
    font-weight: 300;

}

.icons {
    font-size: 2rem;
    z-index: 100;
}

.icons i {
    line-height: 2rem;
    color: var(--text-color);
    margin: .5rem;
}

.icons i:hover{
    font-size: 2.2rem;
    color: var(--2nd-main-bg);
    margin: .4rem;
    transition: .2s;
}




/* COPYRIGHT SECTION */
.wave-cr {
    margin: 0;
    margin-top: -6rem;
    padding: 0;
}
.wave-cr svg {
    position: relative;
    margin-top: 3rem;
    margin-bottom: -1rem;
    z-index: -1;
}
.wave-cr svg path {
    position: relative;
    margin-top: 2rem;
}
.wave-cr p{
    position: relative;
    width: 100%;
    /* height: 3rem; */
    margin: 0;
    /* margin-top: 16rem; */
    padding: 0;
    padding-bottom: 3rem;
    background-color: #157650;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 1rem;
}







/* ******************************************************************************************************************************** */

/* ALL MEDIA QUERIES FOR RESPONSiVENESS */
@media (max-width: 1080px) {

    /* Body */
    body{
        overflow-x: hidden;
    }

/* Home Section */
    .home{
        width: 100%;
        height: fit-content;
    }
    
    .container{
        width: 100%;
        height: auto;
    }

    .row {
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        height: auto;
    }
    .home-p {
        font-size: .9rem;
    }

    .home .home-text h2 {
        font-size: 1.5rem;
    }
    
    .home .home-text h3 {
        font-size: 1.3rem;
    }

    .home .home-text p span{
        font-size: 1.1rem;
    }
    .button {
        margin-bottom: 5rem;
    }
    #btn1, #btn2 {
        font-size: .8rem;
    }
    .home-image img {
        width: 500px;
        height: 400px;
    }


    /* CS PRACTICAL */
    .practicals {
        padding: 5rem 2%;
    }
    .card {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .solution a i {
        position: relative;
        margin-bottom: 5rem;
        margin-left: 1rem;
    }


    /* CS BOOKS */
    .images{
        margin-left: 5%;
        padding-top: 3rem;
        width: 24rem;
        height: 24rem;
    }
    .images img{
        width: 24rem;
        height: 24rem;
    }
    .descriptions {
        padding-left: 8%;
        padding-right: 2%;
    }
    #cs-books{
        margin-right: 2rem;
    }
    #ques-img{
        margin-right: 3.5rem;
    }

}

@media (max-width: 1045px) {
    .home-image img {
        width: 400px;
        height: 350px;
    }
    #btn1, #btn2 {
        font-size: .7rem;
    }
    .questions {
        height: auto;
    }
  
}

@media (max-width: 930px) {
    /* Header & Navbar */
    header{
        display: flex;
        justify-content: space-between;
        padding: 18px 3%;
    }
  .logo{
    display: flex;
  }
  
    #menu-icon{
        display: block;
        color: var(--text-color);
        text-align: right;
    }
    .navbar{
        position: absolute;
        top: -500px;           
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: .5s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        font-size: 1rem;
        border-left: 3px solid var(--about-p);
        margin: .5rem;
        display: block;
    }
    .navbar.active{
        transition: .6s;
        top: 100%;
  
    }

/* HOME */
.home-image img{
    width: 600px;
    height: 500px;
}
    .row {
        height: auto;
        flex-direction: column;
    }

    .home-text{
        padding: 1.5rem;
        padding-right: 0;
    }

    .home-p {
        font-size: 1rem;
    }

    #btn1, #btn2 {
        font-size: 1rem;
    }

/* CS_BOOKS */
.books {
    height: auto;

}
.meta-info {
    flex-direction: column;
}
#csb{
    align-self: center;
}

.descriptions h2{
    text-align: center;
}

.questions .meta-info {
    flex-direction: column-reverse;
}
#ques-img {
    align-self: center;
}


.ques-descriptions h2{
    text-align: center;
}


}

@media (max-width: 790px) {
    .discord-api iframe{
        width: 100%;
        height: 27rem;
    }
    .imp-links ul a {
        font-size: .8rem;
    }
}


@media (max-width: 720px) {
    .about-info{
        flex-direction: column;
    }
    #left, #right{
        width: 100%;
    }

    .home-image img{
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 680px){
   section {
    overflow-y: hidden;
   }
.contacts-info {
    display: flex;
    flex-direction: column-reverse;
}

.imp-links {
    width: 100%;
}
.imp-links ul a {
    font-size: 1rem;
}
.discord-api {
    width: 100%;
}
.discord-api iframe {
    padding-right: 3rem;
}
}

@media (max-width: 560px) {
    .home-image img{
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 480px) {

    .logo h2 {
        font-size: 1.5rem;
    }

    .heading h2{
        font-size: 1.2rem;
    }
    .heading h3 {
        font-size: .8rem;
    }

.descriptions h2, .ques-descriptions h2, .left h2, .right h2 {
    font-size: 1rem;
}
.descriptions p, .ques-descriptions p, .left p, .right p {
    font-size: .8rem;
}

.ques-descriptions p, .ques-descriptions a{
    padding: 1rem;
}
.home {
    padding: 0;
}
.home .home-text {
    margin-right: 1.5rem;
}

.home .home-text h2{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}
.home .home-text h3 {
    font-size: 1rem;
}

.home .home-text p span {
    font-size: .8rem;
}
.home-p{
    font-size: .8rem;
}

   .home-buttons {
    flex-direction: column;
    gap: 0;
   }
   #btn1,#btn2{
    margin-bottom: 1.5rem;
    text-align: center;
   }

   .home-image img {
    margin-top: 2rem;
    width: 350px;
    height: 250px;
   }


   .imp-links {
    padding: 0;
   }

   .imp-links ul a  {
    font-size: .8rem;
   }
   .imp-links ul a i {
    font-size: 1.3rem;
    margin-right: .5rem;
   }

   .images {
    width: 20rem;
    height: 20rem;
   }

   .images img{
    width: 20rem;
    height: 20rem;
    transform: rotate(0deg);
   }
   #csb {
    margin-right: 1rem;
   }
   #ques-img {
    transform: rotate(0deg);
    padding-left: 1.2rem;
   }

    .practicals {
        padding: 3rem 2%;
    }
   #contributors ul a  {
    font-size: .8rem;
   }
   #contributors ul a i {
    font-size: 1.3rem;
    margin-right: .5rem;
   }

   .discord-api {
    padding: 0;
    padding-right: 1rem;
   }

   .dev-info {
    margin-bottom: 8rem;
   }
   .wave-cr svg {
    margin-bottom: -.5rem;
   }

   .wave-cr p {
    font-size: .8rem;
   }
}

@media (max-width: 370px) {
    .home .home-text {
        margin: 0;
        padding: 0;
    }
    .home-image img {
        margin-top: 4rem;
        width: 300px;
        height: 200px;
    }

    .home .home-text h2{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
    }
    .home .home-text h3 {
        font-size: .9rem;
    }
    
    .home .home-text p span {
        font-size: .7rem;
    }
    .home-p{
        font-size: .7rem;
    }

    .images {
        width: 15rem;
        height: 15rem;
       }
    
       .images img{
        width: 15rem;
        height: 15rem;
       }
    
}

@media (max-width: 330px) {
.practicals {
    padding: 3rem 0%;
}

#btn1, #btn2 {
    font-size: .8rem;
}
}
